@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar a,ul,li{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
    color: gainsboro;
    font-size: 17px;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    padding: 8px;
    background-color: black;
    opacity: 1;
}
.navbar a:hover{
    color: #e73526;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.title{
    display: flex;
    margin-left: 100px;
}
#wild{
    color: rgb(197, 11, 11);
}
.btn1{
    padding: 10px;
    background-color: #e73526;
    color: white;
    padding: 10px;
    font-family: 'Helvetica';
    font-size: 19px;
    margin-left: 350px;
    cursor: pointer;
}
.banner{
    background: linear-gradient(rgba(0.1, 0,1), rgba(0, 0, 0.1,0.1)), url('assets/1244644.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.titulo1{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    margin-right: 800px;
    color: #e73526;
    font-family: 'MedievalSharp', cursive;
    font-size: 80px;
}
#text1{
    color: white;
    font-family: 'MedievalSharp', cursive;
    font-size: 70px;
}
.desc{
    text-align: justify;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-family: 'MedievalSharp', cursive;
    font-size: 25px;
    margin-right: 700px;
}
.botoes{
    display: flex;
    gap: 30px;
    margin-left: 100px;
    margin-top: 50px;

}
.btn2{
    padding: 25px;
    color: white;
    font-family: 'Helvetica';
    font-size: 22px;
    cursor: pointer;
    background-color: #e73526;
    border: none;
}
.btn3{
    padding: 25px;
    color: white;
    font-family: 'Helvetica';
    font-size: 22px;
    cursor: pointer;
    background-color: #212121;
    border: none;
}
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    background-color: #e73526;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
}
.img{
    height: 70px;
    width: 200px;
}
.imagens{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: #e73526;
    padding: 30px;
    object-fit: cover;
}
.imgs{
    height: 90px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.xbox{
    height: 90px;
    width: 200px;
}
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.psn{
    height: 90px;
    width: 200px;

}
.steam{
    height: 70px;
    width: 180px;
}
.Geralt{
    background: linear-gradient(rgba(0.9, 0, 0,1), rgba(0, 0, 0.9,0.5)), url('assets/blob_wu2u.1200.webp');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    background-attachment: fixed;
}
.geralt1{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 400px;
    margin-right: 50px;
    flex-direction: column;
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    gap: 10px;
}
.geralt1 h2{
    font-size: 30px;
    color: #e73526;
    margin-right: 100px;
}
.geralt1 p{
    font-size: 22px;
    text-align: justify;
    text-align: right;
}
.geralt1 h1{
    margin-right: 100px;
}
.Ciri{
    background: linear-gradient(rgba(0.9, 0, 0,1), rgba(0, 0, 0.9,0.5)), url('assets/ciri.webp');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    background-attachment: fixed;
}
.ciri1{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 400px;
    margin-right: 50px;
    flex-direction: column;
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    gap: 10px;
}
.ciri1 h2{
    font-size: 30px;
    color: #e73526;
    margin-right: 200px;
}
.ciri1 p{
    font-size: 22px;
    text-align: justify;
    text-align: right;
}
.ciri1 h1{
    margin-right: 100px;
}
.Yennefer{
    background: linear-gradient(rgba(0.9, 0, 0,1), rgba(0, 0, 0.9,0.5)), url('assets/yennefer.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    background-attachment: fixed;
}
.yennefer1{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 400px;
    margin-right: 50px;
    flex-direction: column;
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    gap: 10px;
}
.yennefer1 h2{
    font-size: 30px;
    color: #e73526;
    margin-right: 200px;
}
.yennefer1 p{
    font-size: 22px;
    text-align: justify;
    text-align: right;
}
.yennefer1 h1{
    margin-right: 100px;
}
.Vesemir{
    background: linear-gradient(rgba(0.9, 0, 0,1), rgba(0, 0, 0.9,0.5)), url('assets/vesemir.webp');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    background-attachment: fixed;
}
.vesemir1{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 500px;
    margin-right: 50px;
    flex-direction: column;
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    gap: 10px;
}
.vesemir1 h2{
    font-size: 30px;
    color: #e73526;
    margin-right: 100px;
}
.vesemir1 p{
    font-size: 22px;
    text-align: justify;
    text-align: right;
}
.vesemir1 h1{
    margin-right: 100px;
}
.footer{
    color: white;
    font-family: 'MedievalSharp', cursive;
    font-size: 10px;
    background-color: black;
    text-align: center;
    padding: 20.5px;
}
.thyagohsr a{
    color: #e73526;
    text-decoration: none;
}
@media (max-width: 667px){
    .navbar a{
        display: none;
    }
    .navbar ul{
        display: none;    
    }
    .banner{
        background: linear-gradient(rgba(0.1, 0,1), rgba(0, 0, 0.1,0.1)), url('assets/banner\ responsivo2.png') center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        background-blend-mode: darken;
        background-attachment: fixed;
}
    
    .desc{
        text-align: justify;
        font-size: 14px;
        padding: 10px;
        margin: 3px;
    }
    .botoes{
        margin-left: 50px;
        margin-bottom: 150px;
    }
    button{
        width: 160px;
        height: 50px;
    }
    .btn2{
        font-size: 15px;
        padding: 5px;
        font-weight: bold;
    }
    .btn3{
        font-size: 15px;
        padding: 5px;
        font-weight: bold;
    }
    .imagens{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .witcher3{
        font-size: 70px;
        text-align: center;
        position: absolute;
        padding: 30px;
    }
    .psn{
        width: 200px;
        height: 70px;
    }
    .xbox{
        width: 200px;
        height: 100px;
    }
    .steam{
        width: 200px;
        height: 60px;
    }
    #text1{
       margin-top: 60px;
       padding: 30px;
        position: absolute
    }
    .geralt1 p{
        font-size: 15px;
        text-align: justify;
        margin-left: 50px;
    }
    .geralt1 h1{
        font-size: 25px;
    }
    .geralt1 h2{
        font-size: 25px;
        display: flex;
        width: 220px;
        white-space: nowrap;
    }
    .ciri1 p{
        font-size: 17px;
        text-align: justify;
        margin-left: 50px;
    }
    .ciri1 h1{
        font-size: 25px;
        width: 210px;
        white-space: nowrap;
    }
    .ciri1 h2{
        display: flex;
        align-items: center;
        width: 100px;
        font-size: 25px;
        white-space: nowrap;
    }
    .yennefer1 p{
        font-size: 15px;
        text-align: justify;
        margin-left: 50px;
    }
    .yennefer1 h1{
        font-size: 25px;
        width: 215px;
        white-space: nowrap;
    }
    .yennefer1 h2{
        font-size: 25px;
        margin-left: 20px;
        width: 120px;
        white-space: nowrap;
    }
    .vesemir1 p{
        font-size: 14px;
        text-align: justify;
        padding: 10px;
        margin-left: 50px;
    }
    .vesemir1 h1{
        font-size: 25px;
    }
    .vesemir1 h2{
        font-size: 25px;
        width: 230px;
        white-space: nowrap;
    }
   .Geralt{
    background-position: center;
   }
   .Yennefer{
    background-position: center;
   }
   .Vesemir{
    background-position: center;
   }
   .footer{
      font-size: 7px;
   }
   
}
